
  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;1,9..40,100&family=Dancing+Script:wght@500&family=Inter:wght@500&family=Lexend:wght@100;500&family=Lora:ital@1&family=Mulish:ital,wght@0,200;0,400;1,300&family=Playfair+Display&family=Poppins:ital,wght@0,400;1,300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;1,9..40,100&family=Dancing+Script:wght@500&family=Inter:wght@500&family=Lexend:wght@100;500&family=Lora:ital@1&family=Mulish:ital,wght@0,200;0,400;1,300&family=Playfair+Display:ital@1&family=Poppins:ital,wght@0,400;1,300&family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
    
}
body{
  min-height:100vh ;  
}







/* navbar */




nav{
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.395));
}
nav img{
    height: 3rem;
    width: 7rem;
}
nav ul{
width: 100%;
list-style: none;
display: flex;
justify-content: flex-end;
align-items: center;
}
nav li {
    height: 3rem;
}
nav a{
    height: 100%;
    padding: 0 20px 0 20px;
   display: flex;
   align-items: center;
   
}
nav a:hover{
    background-color: rgba(0, 0, 0, 0.432);
    color: white;
}
nav li:first-child{
    margin-right: auto;
}
.sideBar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.515);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 999;
    backdrop-filter: blur(20px);
}
.sideBar li{
    width: 100%;
}
.menu-button{
    display: none;
}
@media (max-width:800px) {
    .hideOnMobil{
        display: none;
    }
    .menu-button{
        display: block;
    }
}
@media (max-width:400px) {
    .sideBar{
        width: 100vw;
    }
}












/* index */








.container {
    height: 100%;
    width: 80%;
    margin: auto;
}

.accueil {

    background-image: url(Images/backgroundacueil.png);
    background-size: cover;
    background-position: center center;
    height: 100vh;
}


.hometext {
    height: 100%;

    display: flex;
    justify-content: right;
    align-items: center;
}

.hometext h1 {
    text-align: center;
    font-size: 80px;
    font-family: 'Playfair Display', serif;
}

.hometext p {
    text-align: center;

}

.menubutton {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;


}

.menubutton button {
    background-color: rgba(250, 235, 215, 0);
    border-radius: 110px;
    cursor: pointer;
    height: 29px;
    width: 120px;
}







/* indexabout */








.container1 {
    height: 100%;
    width: 75%;
    margin: auto;
}

.abouthome {
    height: 85vh;
    background-color: #FAF8FF;
}








/* deliveryhome */





.deliveryhome{
    height: 85vh;
    background-color: #FAF8FF;
}
.homecontente{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.homecontente img{
    height: 90%;
    width: 90%;
    border-radius: 10px;
    filter: drop-shadow(6px 6px 5px rgba(0, 0, 0, 0.511));
}
.homecontente h1 {

    font-size: 40px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 30px;
}
.homecontente p {

    font-size: 20px;
    font-family: 'Playfair Display', serif;
    margin: 30px 0px 30px 0px;
}
.homecontente li{
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
}
.cut{
    width: 70%;
    margin: auto;
}





/* footer */






footer{
    height: 50vh;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center ;
    font-family: 'DM Sans', sans-serif;

}
.footercontent{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    
}
.footercontent p{
    margin-bottom: 20px;
    color: #DBDFD0;
}
.footercontent img{
    height: 100px;
    width: 250px;
    margin-bottom: 10px;

}
.footerpages{
    width: 30%;
}
.footerpages > p {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}
.footermenus{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.menufoter,.menufoter1 a{
    line-height: 2;
    color:#DBDFD0 ;
}
.rights{
    color: #DBDFD0;
    margin-bottom: 10px;
}







/* Menu */








.menu{
    height: 170vh;
    background-color: #FAF8FF;
   
  
}
.menutop{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.menutitle h1{
    font-size: 70px;
    font-family: 'Playfair Display', serif;
}
.menucartes{
    display: flex;
    flex-direction: column; 
   
}

.cartespos{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.cartes{
    width: 350px;
    height: 360px;
    background-color: white;
    border-radius: 25px;
    text-align: center;
}
.cartes:hover{
    border: 3px black solid;
}
.cartecontente img{
    width: 100%;
    height: 40%;
    margin-bottom: 15px;
    border-radius: 25px;
}
.cartes h1{
    margin-bottom: 15px;
    color: #AD343E;
}
.cartes h4{
    margin-bottom: 15px;
}







/* Contact us  */





.contact{
    height: 120vh;
    background-image: linear-gradient(180deg, rgb(250,248,255) 50%, rgb(255, 255, 255) 50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

}
.contacttop{
    
    height: 41%;
     text-align: center;
    display: flex;
    align-items: end;
}
.contacttitle p{
    line-height: 2;
}
.contacttitle h1{
    font-size: 65px;
    font-family: 'Playfair Display', serif;

}   




/* inputs */

.InputsBack{
    width: 42%;
    height: 81%;
    background-color: #ffffff;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(2px 2px 50px rgba(0, 0, 0, 0.088));
}
.contact-inputs{
    display: flex;
    flex-direction: column;
    width: 96%;
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
    
   
}
.contact-inputs button{
    display: flex;
    justify-content: center;
}


input[type=text],

input[type=email],
input[type=tel] {
   
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    border-radius: 15px;

}

select {
    width: 200px;
    padding: 12px 20px;
    margin-bottom: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: rgb(0, 0, 0)

}

.Submit-button {
    border-radius: 15px;
    border: none;
    width: 97%;
    height: 40px;
    background-color: #AD343E;
    color: rgb(255, 255, 255);
    font-family: 'Mulish', sans-serif;
    font-size: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: 600;
    
}

.Submit-button:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.889);
    transition-duration: 80ms;
}
.Inputs-message{
    height: 14vh ;
    border-radius: 6px;
    width: 100%;
    margin-bottom: 20px;
   
    
}
.contactInfo{
    width: 60%;
    margin: auto;
    height: 25vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    line-height: 2;
}
.contactInfo h2{
    color: #AD343E;
}





/* aboutus */





.AboutBack{
    height: 100vh;
    background-color: #FAF8FF;

}
.aboutTitle{
    font-size: 55px;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 28%;
    font-family: 'DM Sans', sans-serif;
    font-weight: 900;
    letter-spacing: 10px;
}
.aboutUs{
    height: 65%;
    width: 80%;
    margin: auto;
}
.aboutuscont{
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Playfair Display', serif;
}
.aboutuscont img{
    height: 55%;
    width: 95%;
    border-radius: 10px;
    filter: drop-shadow(6px 6px 5px rgba(0, 0, 0, 0.511));
}

.aboutchild{
    width: 45%;
    display: flex;
    justify-content: center;
}
.historycont{
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Playfair Display', serif;
}
.historycont img{
    height: 55%;
    width: 95%;
    border-radius: 10px;
    filter: drop-shadow(6px 6px 5px rgba(0, 0, 0, 0.511));
}
