* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    
}







/* navbar */









header {
    height: 10vh;
    width: 100%;
    background-color: #FAF8FF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.775));
    position: fixed;
    z-index: 1;

}

header img {
    height: 60px;
    width: 150px;
}

nav a {
    margin-right: 22px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
}








/* index */








.container {
    height: 100%;
    width: 80%;
    margin: auto;
}

.accueil {

    background-image: url(Images/backgroundacueil.png);
    background-size: cover;
    background-position: center center;
    height: 100vh;
}


.hometext {
    height: 100%;

    display: flex;
    justify-content: right;
    align-items: center;
}

.hometext h1 {
    text-align: center;
    font-size: 80px;
    font-family: 'Playfair Display', serif;
}

.hometext p {
    text-align: center;

}

.Menubutton {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;


}

.Menubutton button {
    background-color: rgba(250, 235, 215, 0);
    border-radius: 110px;
    cursor: pointer;
    height: 29px;
    width: 120px;
}







/* indexabout */








.container1 {
    height: 100%;
    width: 75%;
    margin: auto;
}

.abouthome {
    height: 85vh;
    background-color: #FAF8FF;
}








/* deliveryhome */





.deliveryhome{
    height: 85vh;
    background-color: #FAF8FF;
}
.Homecontente{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.Homecontente img{
    height: 90%;
    width: 90%;
    border-radius: 10px;
    filter: drop-shadow(6px 6px 5px rgba(0, 0, 0, 0.511));
}
.Homecontente h1 {

    font-size: 40px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 30px;
}
.Homecontente p {

    font-size: 20px;
    font-family: 'Playfair Display', serif;
    margin: 30px 0px 30px 0px;
}
.Homecontente li{
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
}
.cut{
    width: 70%;
    margin: auto;
}

/* footer */


footer{
    height: 50vh;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center ;
}
.footercontent{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    
}
.footercontent p{
    margin-bottom: 20px;
    color: #DBDFD0;
}
.footercontent img{
    height: 100px;
    width: 250px;
    margin-bottom: 10px;

}
.footerpages{
    width: 30%;
}
.footerpages > p {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}
.footermenu{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.footermenu p{
    margin-bottom: 20px;
    color: #DBDFD0;
}
.rights{
    color: #DBDFD0;
    margin-bottom: 10px;
    


}